/*
 * Custom stylesheet for game elements.
 * 
 * For the complete JavaFX CSS reference, see:
 *   https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html
 */
 

.button .text {
	-fx-font-weight: bold;
	-fx-fill: white;
	-fx-effect: dropshadow(one-pass-box, black, 0.2em, 1, 0, 0);
}

.button {
	-fx-background-color: burlywood;
	-fx-border-color: olive;
	-fx-border-width: 0.1em;
	-fx-border-style: solid inside;
}

.button:hover {
	-fx-background-color: antiquewhite;
}

.button:pressed {
	-fx-background-color: burlywood;
	-fx-effect: innershadow(one-pass-box, olive, 0.5em, 0.25, 0.25em, 0.5em);
}

/*
 * Game setup menu
 * ---------------------------------------------------------------------------------------------------------------------
 */
.menu-view {
	-fx-background-color: antiquewhite;
	-fx-spacing: 0.6em;
	-fx-padding: 1.2em;
	-fx-alignment: center;
	-fx-fill-width: true;
}

.menu-view .label {
	-fx-alignment: center;
}

.menu-view .title {
	-fx-font-size: 2em;
}

.menu-view .title .text {
	-fx-font-weight: bold;
	-fx-effect: dropshadow(one-pass-box, black, 0.5em, 1, 0, 0);
	-fx-fill: linear-gradient(to bottom, white, grey);
}

.menu-view .button {
	-fx-background-color: yellowgreen;
	-fx-border-color: seagreen;
}

.menu-view .button:hover {
	-fx-background-color: lightgreen;
}

.menu-view .button:pressed {
	-fx-background-color: yellowgreen;
	-fx-effect: innershadow(one-pass-box, seagreen, 0.5em, 0.25, 0.25em, 0.5em);
}

.menu-view .button.red {
	-fx-background-color: indianred;
	-fx-border-color: purple ;
}

.menu-view .button.red:hover {
	-fx-background-color: salmon;
}

.menu-view .button.red:pressed {
	-fx-background-color: indianred;
	-fx-effect: innershadow(one-pass-box, purple, 0.5em, 0.25, 0.25em, 0.5em);
}

.menu-view .button.blue {
	-fx-background-color: cornflowerblue;
	-fx-border-color: darkslateblue;
}

.menu-view .button.blue:hover {
	-fx-background-color: lightskyblue;
}

.menu-view .button.blue:pressed {
	-fx-background-color: cornflowerblue;
	-fx-effect: innershadow(one-pass-box, darkslateblue, 0.5em, 0.25, 0.25em, 0.5em);
}
 
/*
 * Game display
 * ---------------------------------------------------------------------------------------------------------------------
 */
.game-view .check-box {
	-fx-padding: 0.5em;
}

/* 
 * score display 
 * ---------------------------------------------------------------------------------------------------------------------
 */
.score-view {
	-fx-alignment: center;
}

.score-view .clue-readout {
	-fx-padding: 0.5em;
 	-fx-alignment: center;
}

.score-view .score-readout {
	-fx-text-fill: linear-gradient(to bottom, white, grey);
	-fx-font-weight: bold;
	-fx-padding: 0.5em;
 	-fx-alignment: center;
}

.score-view .score-readout .text {
	-fx-effect: dropshadow(one-pass-box, black, 0.3em, 1, 0, 0);
}

.score-view .score-readout:red {
	-fx-background-color: indianred;
}

.score-view .score-readout:blue {
	-fx-background-color: cornflowerblue;
}

.score-view .score-readout:lead {
	-fx-font-weight: bolder;
	-fx-font-size: 1.5em;
	-fx-padding: 0.05em;
}

.score-view .score-readout:lead .text {
	-fx-effect: dropshadow(one-pass-box, black, 0.5em, 1, 0, 0);
}

/* 
 * board display 
 * ---------------------------------------------------------------------------------------------------------------------
 */
.board-view {
	-fx-background-color: antiquewhite;
}

.board-view .keycard-region {
	-fx-border-style: dashed inside;
	-fx-border-width: 0.25em;
}

.board-view .keycard-region:red {
	-fx-border-color: indianred;
}

.board-view .keycard-region:blue {
	-fx-border-color: cornflowerblue;
}

.board-view .keycard-region:neutral {
	-fx-border-color: yellowgreen;
}

.board-view .keycard-region:assassin {
	-fx-border-color: dimgray;
}

.board-view .codename-region {
	-fx-border-color: tan;
	-fx-border-width: 0.1em;
	-fx-border-style: dotted inside;
}

.board-view .codename-region:disable {
	-fx-border-color: tan;
	-fx-border-style: dotted inside;
}

.board-view .codename-region:disable .label {
	-fx-font-weight: normal;
}

.board-view .codename-region:normal .label {
	-fx-font-weight: bold;
}

.board-view .codename-region:hover {
	-fx-border-color: white;
	-fx-border-width: 0.2em;
	-fx-border-style: solid inside;
}

.board-view .codename-region .overlay {
	-fx-background-color: transparent;
}

.board-view .codename-region:red .overlay {
	-fx-background-color: indianred;
}

.board-view .codename-region:blue .overlay {
	-fx-background-color: cornflowerblue;
}

.board-view .codename-region:neutral .overlay {
	-fx-background-color: yellowgreen;
}

.board-view .codename-region:assassin .overlay {
	-fx-background-color: dimgray;
}

/*
 * Game over
 * ---------------------------------------------------------------------------------------------------------------------
 */
.game-over, .next-turn {
 	-fx-alignment: center;
 	-fx-text-alignment: center;
 	-fx-font-size: 3em;
 	-fx-font-weight: bolder;
 	-fx-background-color: rgba(0, 0, 0, 0.75);
 }
 .game-over .text, .next-turn .text {
	-fx-effect: dropshadow(one-pass-box, black, 0.6em, 1, 0, 0);
 }
 .game-over:red, .next-turn:red {
 	-fx-text-fill: linear-gradient(to bottom, red, black);
 }
 
 .game-over:blue, .next-turn:blue {
 	-fx-text-fill: linear-gradient(to bottom, cornflowerblue, black);
 }
 
 .game-over:assassin {
 	-fx-text-fill: linear-gradient(to bottom, slategrey, black);
 }

/* 
 * state (current turn, action) display 
 * ---------------------------------------------------------------------------------------------------------------------
 */
.state-view {
	/* nada */
}

.state-view:red {
	-fx-background-color: indianred;
}

.state-view:blue {
	-fx-background-color: cornflowerblue;
}